/* =================
      元件樣式
==================== */

/* Header icon 固定寬度 */
.header-icon {
  display: inline-block;
  width: 24px;
  text-align: center;
}

/* Breadcrumb 麵包屑 */
.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  padding: 0 12px;
  color: var(--neutral-300-dee2e6);
  font-weight: 700;
}

.breadcrumb-item {
  display: flex;
}

@media (max-width: 767px) {
  .breadcrumb-item + .breadcrumb-item::before {
    padding: 0 8px;
  }
  .breadcrumb-item {
    font-size: 14px;
  }
}

/* 分頁器與按鈕 */
.btn {
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

@media (max-width: 576px) {
  .btn {
    padding: 8px 16px;
  }
}

.btn-dark {
  background-color: var(--neutral-900-212529);
  color: var(--neutral-0-ffffff);
}

.btn-light {
  border: 1px solid var(--neutral-900-212529);
}

/* Footer 頁腳 */
.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Footer 版權聲明上方分隔線 */
.copyright {
  border-top: 1px solid var(--neutral-300-dee2e6);
}
